.cart__page {
  background-color: rgb(83, 83, 83);
  width: 100vw;
  min-height: 85vh;
  height: auto;
}

.cart__cntnr {
  width: 80vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cart__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 55px;
  padding: 40px 20px 0px 20px;
  border-bottom: 1px solid rgba(139, 139, 139, 0.9);

}

.cart__header--label {
  font-size: 40px;
  color: rgb(204, 255, 0);
  opacity: .8;
  align-self: end;
  justify-self: start;
}

.cart__header--total {
  font-size: 30px;
  color: rgb(204, 255, 0);
  opacity: .8;
  align-self: end;
  justify-self: end;
}

.cart__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60vh;
  padding: 5px;
}

.cart__items {
  display: grid;
  row-gap: 10px;
  padding-top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0px auto auto auto;
}

.cart__checkout {
  /* display: grid;
  grid-template-rows: 1fr 1fr; */
  /* padding-top: 20px; */
}

.checkout-form {
  margin: auto;
  width: 450px;
  height: auto;
  background: rgba(139, 139, 139, 0.9);
  box-sizing: border-box;
  border-radius: 10px;
  /* position: absolute; */
  align-self: center;
  justify-self: start;
}

form.checkout-form.formHeader {
  margin-top: 0px;
}

.submit-order__button--cntnr {
  width: 30%;
  margin: auto;
}

button.submit-order__button {
  margin: auto;
  width: 100%;
}

form {
  padding: 0px 10px;
}
