.linksBar {
  display: grid;

  height: 50px;
}

@media only screen and (min-width: 1225px) {
  .linksBar {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1224px){
  .linksBar {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen  and (max-width: 999px){
  .linksBar {
    grid-template-columns: repeat(6, 1fr);
  }
}

.homeLink {
  font-family: 'Permanent Marker', cursive;
  color: rgb(204, 255, 0);
  opacity: 0.8;
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  float: left;
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.userLogo {
  background-color: transparent;
  border: none;
  grid-column-start: -4;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  justify-self: end;
}

.fa-biking {
  color: rgb(204, 255, 0);
  opacity: 0.7;
  margin: auto;
}

.welcome {
  grid-column-start: -3;
  justify-self: start;
  align-self: end;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

li {
  list-style-type: none;
}

.formLinks {
  background-color: black;
  color: rgb(204, 255, 0);
  opacity: 0.8;
  margin: auto;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.login-button {
  grid-column-start: -3;
  margin-top: auto;
  margin-bottom: auto;

  justify-self: end;
  width: 80px;
}

.signup-button {
  grid-column-start: -2;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  margin-right: 10px;
  justify-self: start;
  width: 80px;
}

.cart-button {
  grid-column-start: -2;
  margin: auto;
  width: 80px;
}

.logout-button {
  grid-column-start: 2;
}

.profile-dropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.user-info_cntnr {
  grid-column-start: 1;
  margin: auto;
  margin-right: 5px;
}

.user-info {
  font-weight: bold;
}
