/* .linksBar {

} */

.homeLink {
  font-family: 'Permanent Marker', cursive;
  color: rgb(204, 255, 0);
  opacity: 0.8;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  padding: 15px;
  height: 20px;
  width: 200px;
  border-radius: 5px;
  text-decoration: none;
  float: left;
  font-size: 25px;
}

.userLogo {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
}

.fa-biking {
  color: rgb(204, 255, 0);
}

li {
  list-style-type: none;
}

.formLinks {
  background-color: black;
  color: rgb(204, 255, 0);
  opacity: 0.8;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  padding: 15px;
  height: 20px;
  width: 75px;
  border-radius: 5px;
  text-decoration: none;
  float: right;
  font-size: 18px;
}
